@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
box-sizing: border-box;
font: normal 100%/1.3 "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* - - - - - - - - - - Typogrophy - - - - - - - - - - */

/* 
Standardizing some basic type styles across my website.
*/


h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 1.3rem;
}

h1 {
  font-size: 3rem;
  color: #00673e;
}

h2,
h1 + .subtitle {
  border-bottom: 1px solid #ccc;
}

h1 + .subtitle {
  font-size: 1.25rem;
  margin: -1rem 0 2rem;
  font-style: italic;
}

a {
  color: #00673e;
  transition:
    color .2s,
    background-color .2s,
    border-color .2s,
    box-shadow .2s;
}

a:hover, a:focus {
  color: #00331f;
}

.btn {
  background-color: #00673e;
  border: 1px solid #017949;
  box-shadow: 0 3px 5px #0004;
  color: #fff;
  padding: .75em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition:
    color .2s,
    background-color .2s,
    border-color .2s;
}


.btn:hover, .btn:focus {
  background-color: #00331f;
  border-color: #004429;
  color: #fff;
}


/* - - - - - - - - - - Layout - - - - - - - - - - */
/* 
I like to create a collection of reusable classes that help me create consistent layout and spacing on my webpages.
*/

main {
  min-height: calc(100vh - 122px); /* This will expand the size of <main> to push the footer to the bottom on pages with little content */
  padding-top: 63px; /* This padding compensates for the fixed navbar not taking up any space to avoid overlap */
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

section > .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container-side-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-t {
  padding-top: 6rem;
}

.spacing-b {
  padding-bottom: 6rem;
}

.push-4 {
  margin-bottom: 4rem;
}

.text-wrap {
  max-width: 45em;
}

/* - - - - - - - - - - Masthead - - - - - - - - - - */

/* - - - - - - - - - - Nav Toggle - - - - - - - - - - */

.nav-toggle {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.nav-toggle .tog {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: relative;
  transition:
    top .2s,
    bottom .2s,
    opacity .2s,
    transform .2s;
}
.tog.top {
  top: 0;
}

.tog.bottom {
  bottom: 0;
}

.open .top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.open .middle {
  opacity: 0;
}

.open .bottom {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}


@media only screen and (min-width: 45em) {

  .nav-toggle {
    display: none;
  }

}

.click-to-close {
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity .2s;
}

.click-to-close.open {
  opacity: 1;
  pointer-events: all;
}

/* - - - - - - - - - - End of Nav Toggle - - - - - - - - - - */

.masthead {
  padding: 1rem 0;
  background-color: #00673e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.masthead .container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masthead a {
  color: #fff;
  text-decoration: none;
  transition:
    opacity .2s;
}

.masthead a[aria-current="page"] {
  text-decoration: underline;
}

.masthead a:hover,
.masthead a:focus {
  opacity: .5;
}

.masthead .logo h1,
.masthead .logo strong {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.masthead nav {
  position: fixed;
  top: 0;
  right: -66.6666%;
  width: 66.6666vw;
  height: 100vh;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, .15);
  background-color: #00462a;
  transition:
    right .2s,
    top .2s;
}

.masthead nav.open {
  right: 0;
}

.masthead nav ul {
  padding: 6rem 1rem;
  text-align: right;
  margin: 0;
  list-style-type: none;
}

.masthead nav li:not(:last-child) {
  margin-bottom: 1rem;
}

.masthead nav a {
  display: block;
  font-size: 1.25rem;
}

@media only screen and (min-width: 45em) {

  .masthead nav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    z-index: auto;
    background-color: transparent;
  }

  .masthead nav ul {
    display: flex;
    padding: 0;
  }

  .masthead nav li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  
  .masthead nav a {
    display: block;
    font-size: 1rem;
  }

}

/* - - - - - - - - - - Cards - - - - - - - - - - */

.cards {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.cards-examples li {
  display: flex;
}

.cards-examples .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  padding: 1rem;
  color: #00673e;
  border: 2px solid #00673e;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
  border-radius: .5rem;
  text-decoration: none;
}

.cards-examples .card:hover,
.cards-examples .card:focus {
  color: #fff;
  border-color: #fff;
  background-color: #00673e;
  box-shadow: 0 6px 8px rgba(0, 0, 0, .15);
  }

.cards-examples .card span {
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  .cards-examples {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width: 60em) {

  .cards-examples {
    grid-template-columns: repeat(4, 1fr);
  }

}

/* - - - - - - - - - - Footer - - - - - - - - - - */

.footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
}

.footer .container {
  padding: 0 1rem;
}

.footer a {
  color: #fff;
}

.footer a:hover,
.footer a:focus {
  color: #ffffffaa;
}

/* - - - - - - - - - - Instructor Comment - - - - - - - - - - */

.instructor-comment {
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: #2c8Bd9;
  color: #fff;
  border: 1px solid #1a5c93;
  display: inline-block;
  border-radius: .75rem .75rem .75rem .125rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
  max-width: 30rem;
}

.instructor-comment :last-child {
  margin-bottom: 0;
}

.instructor-comment cite {
  font-style: normal;
  font-weight: bold;
}

.instructor-comment a {
  color: #fff;
}

.instructor-comment a:hover,
.instructor-comment a:focus {
  color: #ffffffaa;
}

@media only screen and (min-width: 80em) {

  .ic-left {
    margin-left: -5rem;
  }

}
/* - - - - - - - - - - Helpers - - - - - - - - - - */

.parent-styles {
  border: 4px dashed #ccc;
}

.grid-item {
  border: 3px solid #00673e;
  background-color: #befee4;
  border-radius: .5rem;
  padding: 1rem;
}

.grid-item:nth-child(2) {
  border-color: #67003e;
  background-color: #febee4;
}

.grid-item:nth-child(3) {
  border-color: #673e00;
  background-color: #fee4be;
}

.grid-item:nth-child(4) {
  border-color: #3e6700;
  background-color: #e4febe;
}

.grid-item:nth-child(5) {
  border-color: #003e67;
  background-color: #bee4fe;
}

.grid-item:nth-child(6) {
  border-color: #3e0067;
  background-color: #e4befe;
}

.grid-item:nth-child(7) {
  border-color: #3e6767;
  background-color: #e4fefe;
}

.grid-item:nth-child(8) {
  border-color: #3e3e67;
  background-color: #e4e4fe;
}

.grid-item:nth-child(9) {
  border-color: #676700;
  background-color: #fefebe;
}

.grid-item :last-child {
  margin: 0;
}

/* A nice highlight for when I dropped in code samples */

code {
  background-color: #00000022;
  border: 1px solid #00000044;
  padding: .25rem;
  border-radius: .25rem;
}

/* - - - - - - - - - - Dog Cards - - - - - - - - - - */

.grid-cards {
  list-style-type: none;
  padding: 0;
}

.grid-cards .card {
  display: block;
  color: #00673e;
  border: 2px solid #00673e;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
  border-radius: .5rem;
  text-decoration: none;
  color: #000;
  overflow: hidden;
}
.grid-cards .card img {
  width: 100%;
}

.grid-cards .card h3 {
  padding: 1rem 1rem 0;
}

.grid-cards .card p {
  padding: 0 1rem;
}

.grid-cards .card .btn {
  margin: 0 1rem 1rem;
}

.grid-cards .card:hover .btn,
.grid-cards .card:focus .btn {
  background-color: #00331f;
  border-color: #004429;
  color: #fff;
}

/* - - - - - - - - - - Mini Web Page - - - - - - - - - - */

.mini-page header,
.mini-page main,
.mini-page aside,
.mini-page footer {
  padding: 1rem;
}

.mini-page header {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-color: #ccc;
}

.mini-page header .mini-logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.mini-page header a {
  color: #222;
  color: #222;
  text-decoration: none;
  display: inline-block;
}

.mini-page header a:hover,
.mini-page header a:focus {
  color: #999;
}

.mini-page header a:not(:last-child) {
  margin-right: 1rem;
}

.mini-page main {
  min-height: auto;
}

.mini-page aside {
  background-color: #f2f2f2;
}

.mini-page footer {
  background-color: #222;
  color: #ccc;
}