:root {
  accent-color: #00673e;
}

form {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: .5rem;
  border: 0.0625rem solid #ddd;
  box-shadow: 0 0.25rem 0.5rem #0003;
}

form .btn {
  display: block;
  text-align: center;
  width: 100%;
}

fieldset {
  display: contents;
}

legend {
  padding: 0;
  margin: 2rem 0 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: #00673e;
}

.form-grid {
  display: grid;
  gap: 1rem;
}

label,
.label {
  display: block;
  margin-bottom: .25rem;
  font-weight: 600;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
  border: 0.0625 solid #ddd;
  border-bottom: 0.0625 solid #00673e;
}

[type="checkbox"],
[type="radio"],
[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: 400;
}

[type="checkbox"],
[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}

.radio-grid {
  display: grid;
  --cols: 1;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1rem;
}

.checkbox-wrap {
  display: flex;
}

.checkbox-wrap input {
  margin-right: .25rem;
}

@media only screen and (min-width: 38em) {
  
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .m-1 {
    grid-column: 1 / -1;
  }

  .radio-grid {
    --cols: 2;
  }

}

input[type=range] {
  width: 100%;
  margin: 0.3125rem 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(203, 204, 204, 0.78);
  border: 0 solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: .25rem;
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -0.3125rem;
  width: 1rem;
  height: 1rem;
  background: #00673e;
  border: 0.125rem solid #004d24;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d8d9d9;
}
input[type=range]::-moz-range-track {
  background: rgba(203, 204, 204, 0.78);
  border: 0 solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 0.25rem;
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: #00673e;
  border: 0.125rem solid #004d24;
  border-radius: 1rem;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0.4rem 0;
  color: transparent;
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #bebfbf;
  border: 0 solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 0.425rem;
}
input[type=range]::-ms-fill-upper {
  background: rgba(203, 204, 204, 0.78);
  border: 0 solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 0.425rem;
}
input[type=range]::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background: #00673e;
  border: 0.125rem solid #004d24;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(203, 204, 204, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: #d8d9d9;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
